@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dimension Data";
}

<h2>Dimension Data</h2>
<p>Welcome from out View Template!</p>
